@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");

/* Global ----------------------------------------------------------------------------------*/

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #00a2ff url(../img/1.png) no-repeat center fixed;
  background-size: cover;
  text-align: center;
  font-size: 20px;
  overflow-x: hidden;
}

/* Cabeçalho ----------------------------------------------------------------------------------*/

#cabeçalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 60px;
  box-shadow: 2px 5px 20px #93e9ff;
  background-color: #058ddb;
}

.message-logo {
  display: block;
  margin-left: 80px;
  color: #fff;
}

.message-logo:hover {
  color: #0000ff;
  font-weight: bold;
  transition: all 1s ease;
  cursor: pointer;
}

#list-navbar {
  margin-right: 80px;
  display: flex;
  list-style: none;
}

#navbar li {
  display: flex;
  align-items: center;
}

#navbar li a {
  display: flex;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}

#navbar li a:hover {
  color: #0000ff;
  font-weight: bold;
  transition: all 0.5s ease;
}

#menu-hamb {
  display: none;
}

.rigth {
  display: none;
}

/* --------------------- Body Login --------------------- */
/*Style boddy*/

#conteudo {
  background-color: #fff;
  margin: 15px auto 50px auto;
  height: 100%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 5px #000000;
}

.titulo {
  margin: 0px auto 10px auto;
  text-align: center;
  color: #095480;
  font-style: italic;
}

#container-hover {
  position: relative;
  width: 100%;
  cursor: pointer;
}

#foto-perfil {
  max-width: 50%;
  margin-top: 0px;
  border-radius: 100%;
}

#change-photo {
  opacity: 0%;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  right: 47%;
  font-size: 30px;
}

.pargraph {
  text-align: justify;
}

#supports {
  display: flex;
  align-items: center;
  width: 500px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-40%);
}

.support-github {
  font-size: 15px;
}

.support-github a {
  text-decoration: none;
  font-weight: bolder;
  font-style: italic;
  color: #000;
}

.support-github a:hover {
  color: #0000ff;
  font-weight: bold;
  transition: all 0.5s ease;
}

.terms-utilize {
  border: none;
  background: none;
  font-size: 15px;
  margin: 10px 80px;
  width: 200px;
  font-style: italic;
  font-weight: bolder;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.terms-utilize:hover {
  color: #0000ff;
  transition: all 0.5s ease;
  font-weight: bold;
}

.identificators {
  margin: 15px 80px;
  text-align: left;
  display: block;
  color: #000;
  font-size: 20px;
}

.user-status {
  width: 70%;
  font-size: 20px;
  margin-left: -15px;
}

#nome,
#sobrenome,
#password,
#email {
  width: 70%;
  padding: 10px;
  font-size: 15px;
  border-radius: 7px;
  border: 0px solid #000000;
  box-shadow: 0 0 4px #00000038;
  margin-bottom: 10px;
}

#clean {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 7% auto 25% auto;
  display: block;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  width: 200px;
  height: 50px;
}

#clean:hover {
  background-color: #0000ff;
  color: #fff;
  transition: all 0.5s ease;
}

/* Animação dos inputs:invalid's  ----------------------------------------------------------------------------------------------------------------------*/

@keyframes shake {
  25% {
    transform: translateX(4px);
  }

  50% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(40px);
  }
}

/* Footer Page ------------------------------------------------------------------------------------------------------------------------- */

#rodapé {
  background-color: none;
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
}

#rodapé p {
  margin-left: 20px;
}

#rodapé a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

#rodapé a:hover {
  text-decoration: underline;
}

/* Responsividade ------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 650px) {
  /* ---- Menu-Hamb. ----*/

  #navbar {
    display: none;
  }

  #menu-hamb {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    max-width: 100%;

    font-size: 35px;
    position: absolute;
    top: 35%;
    right: 5%;
    z-index: 2;
  }

  #navbar.active {
    background-color: #000000;
    display: block;
    padding: 10px;
    margin: 0px 10px;
    width: 100%;
    height: 120vh;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: -5%;
  }

  #list-navbar {
    display: inline-table;
    text-align: center;
    margin-top: 25%;
    margin-left: 10%;
  }

  #list-navbar li {
    font-size: 30px;
  }
}
